<div class="account-details">
  <div class="gama-digital ">
      <h1 class="gama-digital-title ">Denvolvimento Mobile</h1>
      <img src="assets/images/app-bg-1.png" class="gama-digital-bg ">
      <p class="gama-digital-discription">Gestão de sua empresa onde você estiver</p>
  </div>
  <div class="credit-card ">
      <h1 class="credit-card-title ">Aplicações sob demanda</h1>
      <img src="assets/images/graficos.png " class="credit-card-bg">
      <p class="credit-card-discription ">Desenvolvemos aquilo que você realmente precisa</p>
  </div>
</div>
